fastapi==0.135.1
uvicorn[standard]==0.42.0
python-dotenv
sqlalchemy==2.0.48
aiosqlite==0.22.1
asyncpg==0.31.0
pydantic[email]
bcrypt==5.0.0
python-jose[cryptography]==3.5.0
httpx==0.28.1
yfinance==0.2.58
alpaca-trade-api==3.2.0
mistralai==2.0.4
groq==1.1.1
